*{
    margin: 0;
    padding: 0;
}
body{
    background-image: image(pictures/orange-background);
    background-size: cover;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 80px;
    /*background-color: #32354e;*/
    background: linear-gradient(180deg, rgba(46,49,68,1) 33%, rgba(46,49,68,0.9808517156862745) 47%, rgba(46,49,68,0.913624824929972) 64%, rgba(46,49,68,0.821187850140056) 74%, rgba(46,49,68,0.7763699229691876) 81%, rgba(46,49,68,0.6811318277310925) 87%, rgba(46,49,68,0.41222426470588236) 93%, rgba(46,49,68,0.2049413515406162) 98%, rgba(46,49,68,0) 100%);
 }
.nav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    background-color: black;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0s;
}
.nav a{
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    color: #ccc;
    size: 50px;
    text-decoration: none;
}
.nav a:hover{
    color: #fff;
    transition: 0.7s;
}
.slide i{
    size: 50px;
}
 nav ul{
     float: left;
     margin-top: 5px
 }
 #sideNavButton{
     width: 40px;
     align-self: center;
     margin: 10px 20px 0px 30px;
     padding: none;
 }
 #sideNavButton:hover{
     padding: none;
 }
 nav ul li{
     float: left;
     list-style: none;
     position: relative;
     padding-bottom: 15px;
     width: 150px;
 }
 nav ul li:hover, nav ul li:hover table{
     display: block;
     background-color: #2e3144;
     text-decoration: underline;
 }
 .topnavItems, .active{
       display: block;
       font-family: arial;
       font-size: 25px;
       padding: 15px 10px;
       color: white;
       margin-top: 5px;
       text-decoration:none;
       text-align: center;
 }
 .dropdown{
     display: none;
     position:absolute;
     margin-top: 0;
     background-color: #2e3144;
     width:150px;
}
.dropdown tbody tr{
    width: 150px;
    height: 25px;
}
.dropdown tr td{
    height: 40px;
    width:150px;
    size: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown a{
    text-align: center;
    margin: none;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-style: inset;
    border-color: transparent;
}
.
nav ul li:hover table{
    display: block;
}
nav ul li table td:hover{
    background-color: #e6e6e6;
}
nav ul li table td:hover a{
    color: black;

}

nav p{
      font-family: 'Stalinist One', cursive;
      /* border: 3px solid black;   */
      margin: auto;
      display: inline-block;
      width: 40%;
      text-align: center;
      font-size: 50px;
      background-image: linear-gradient(180deg, rgba(36,53,159,1) 0%, rgba(107,125,231,1) 51%, rgba(35,53,159,1) 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* float: left; */
}
.groups td{
  font-size: 24px;
  border-color: transparent;
  border-style: solid;
  background-color: yellow;
  margin: 10px 20px;
  display: inline-block;
  min-width: 50px;
  text-align: center;
  font-family: sans-serif;
}
.groups td:hover{
  border-color: black;
  background-color: aquamarine;
  font: bold;
}

.groups {
margin: auto;
width: 25%;
border: 3px solid green;
padding: 10px;
}
